body {
    background-image: url("../images/backGround.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 1000px;
    background-attachment: fixed;
}
@media screen and (max-width: 670px){
   body{
        min-height: 500px;
    }
}

#gifs-here {
    font-weight: 900;
}